<div class="container-fluid p-0">
  <div class="text-center pt-5 pb-5 container-fluid" id="header-image">
    <img src="assets/logoabeille.png" class="col-5 offset-3">
    <div class="col-2 offset-1 d-inline-block align-top">
      <button class="col-12 loginBtn align-top" [routerLink]="['/loginPage']" routerLinkActive="router-link-active">Connexion</button>
    </div>
    
  </div>

  <div class="row no-gutters" id="menu-bar">

    <button class="col-4 nav-bar-button text-center button-start-black" id="research-button" (click)="changeResearchColor()"
      [routerLink]="['/searchPage']" routerLinkActive="router-link-active">RECHERCHE DE TESTS</button>

    <button class="col-4  nav-bar-button" id="ongoing-tests-button" (click)="changeOngoingTestColor()" [routerLink]="['/ongoingtestPage']"
      routerLinkActive="router-link-active">TESTS EN COURS</button>

    <button class="col-4  nav-bar-button" id="new-test-button" (click)="changeNewTestColor()" [routerLink]="['/newtestPage']"
      routerLinkActive="router-link-active">AJOUT D'UN NOUVEAU TEST</button>
  </div>
</div>
