<div class="container-fluid mt-5 pl-4 pr-4">
  <h1 class="text-center mb-5 border-bottom border-dark p-4">Tests en cours</h1>
  <div class="search-result-wrap col-12 d-inline-block align-top">
    <app-ongoingtestresult></app-ongoingtestresult>
  </div>
  <div class="test-access-block mt-2 float-right pt-2 pb-5">
    <div class="d-inline-block mr-2">
      Modifier le test :
    </div>
    <input type="text" class="d-inline-block mr-2" placeholder="ID du test" [(ngModel)]="IdTestToModifOrDelete">
    <button class="btn btn-dark rounded-0 " (click)="openVerticallyCentered(content)" (click)="callTestToModifOrDelete(IdTestToModifOrDelete)"
      *ngIf="IdTestToModifOrDelete > 0">MODIFIER</button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Test ID : {{IdTestToModifOrDelete}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container-fluid">

    <!-- First Part of Dataset -->
    <div class="row">
      <div class="d-inline-block col-2 bg-dark">
        Propriétés
      </div>
      <div class="d-inline-block col-4  offset-1 bg-dark">
        Valeur actuelle
      </div>
      <div class="d-inline-block col-4 offset-1 bg-dark">
        Modification
      </div>
    </div>

    <div class="row">
      <div class="d-inline-block col-2 ">
        Résultat
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.result}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.result">
    </div>

    <div class="row">
      <div class="d-inline-block col-2 ">
        Type d'AC
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.typeAC}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.typeAC">
    </div>

    <div class="row">
      <div class="d-inline-block col-2 ">
        Code G
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.codeG}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.codeG">
    </div>

    <div class="row">
      <div class="d-inline-block col-2 ">
        Nom produit
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.productName}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.productName">
    </div>

    <div class="row">
      <div class="d-inline-block col-2 ">
        Code campagne
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.campaignCode}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.campaignCode">
    </div>

    <div class="row">
      <div class="d-inline-block col-2 ">
        Nom campagne
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.campaignName}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.campaignName">
    </div>

    <div class="row">
      <div class="d-inline-block col-2 ">
        Franchise
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.franchise}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.franchise">
    </div>

    <div class="row">
      <div class="d-inline-block col-2 ">
        CP Dev
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.cpDev}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.cpDev">
    </div>

    <div class="row">
      <div class="d-inline-block col-2 ">
        CP QCP
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.cpQCP}}
      </div>
      <input type="text" class="d-inlvalidateTestne-block col-4 offset-1" [(ngModel)]="tmpTest.cpQCP">
    </div>

    <!-- Second Part of DataSet -->

    <div class="row">
      <div class="d-inline-block col-2 ">
        Code AC
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.codeAC}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.codeAC">
    </div>
    <div class="row">
      <div class="d-inline-block col-2 ">
        Fournisseur
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.provider}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.provider">
    </div>
    <div class="row">
      <div class="d-inline-block col-2 ">
        Matériau
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.material}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.material">
    </div>
    <div class="row">
      <div class="d-inline-block col-2 ">
        Type décor
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.decoType}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.decoType">
    </div>
    <div class="row">
      <div class="d-inline-block col-2 ">
        Teinte masse
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.teinteMasse}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.teinteMasse">
    </div>
    <div class="row">
      <div class="d-inline-block col-2 ">
        Modèle de pack
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.packModel}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.packModel">
    </div>
    <div class="row">
      <div class="d-inline-block col-2 ">
        Numéro de soumission
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.submitNumber}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.submitNumber">
    </div>

    <!-- Third Part of DataSet for Modal -->
    <div class="row">
      <div class="d-inline-block col-2 ">
        Nom vrac
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.vracName}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.vracName">
    </div>
    <div class="row">
      <div class="d-inline-block col-2 ">
        Numéro vrac
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.vracNumber}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.vracNumber">
    </div>
    <div class="row">
      <div class="d-inline-block col-2 ">
        Numéro de formule ou lot
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.formuleNumber}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.formuleNumber">
    </div>

    <!-- Fourth part of Dataset for Modal -->

    <div class="row">
      <div class="d-inline-block col-2 ">
        Famille de test
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.testFamily}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.testFamily">
    </div>
    <div class="row">
      <div class="d-inline-block col-2 ">
        Test
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.test}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.test">
    </div>
    <div class="row">
      <div class="d-inline-block col-2 ">
        Date de début
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.start}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.start">
    </div>
    <div class="row">
      <div class="d-inline-block col-2 ">
        Dérogation
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.derogation}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.derogation">
    </div>
    <div class="row">
      <div class="d-inline-block col-2 ">
        Commentaire
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.comments}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.comments">
    </div>

    <!-- Date properties -->

    <div class="row">
      <div class="d-inline-block col-2 ">
        Réception Vrac
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.receptionVrac}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.receptionVrac">
    </div>

    <div class="row">
      <div class="d-inline-block col-2 ">
        Réception ZAC
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.receptionZAC}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.receptionZAC">
    </div>

    <div class="row">
      <div class="d-inline-block col-2 ">
        Début réel
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.debutReel}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.debutReel">
    </div>

    <div class="row">
      <div class="d-inline-block col-2 ">
        Debut Prévu
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.debutPrevu}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.debutPrevu">
    </div>

    <div class="row">
      <div class="d-inline-block col-2 ">
        T1 Réel
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.t1Reel}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.t1Reel">
    </div>

    <div class="row">
      <div class="d-inline-block col-2 ">
        T1 Prévu
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.t1Prevu}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.t1Prevu">
    </div>

    <div class="row">
      <div class="d-inline-block col-2 ">
        T2 Réel
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.t2Reel}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.t2Reel">
    </div>

    <div class="row">
      <div class="d-inline-block col-2 ">
        T2 Prévu
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.t2Prevu}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.t2Prevu">
    </div>

    <div class="row">
      <div class="d-inline-block col-2 ">
        T3 Réel
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.t3Reel}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.t3Reel">
    </div>

    <div class="row">
      <div class="d-inline-block col-2 ">
        T3 Prevu
      </div>
      <div class="d-inline-block col-4 border offset-1">
        {{testToModifOrDelete.t3Prevu}}
      </div>
      <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.t3Prevu">
    </div>





  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="validateTest()" (click)="modal.close('Close click')">Valider ce test (Irreversible)</button>
    <button type="button" class="btn btn-warning" (click)="updateTest()" (click)="modal.close('Close click')">Modifier
      ce test (Irreversible)</button>
    <button type="button" class="btn btn-danger" (click)="deleteTest()" (click)="modal.close('Close click')">Effacer ce
      test (Irreversible)</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fermer</button>
  </div>
</ng-template>
