<div class="container-fluid mt-5 pl-4 pr-4">
  <h1 class="text-center mb-5 border-bottom border-dark p-4">Tests en cours</h1>
  <div class="search-result-wrap col-12 d-inline-block align-top">
    <app-ongoingtestresult></app-ongoingtestresult>
  </div>
  <div class="test-access-block mt-2 float-right pt-2 pb-5" *ngIf="hasAccess == 'true'">
    <div class="d-inline-block mr-2">
      Modifier le test :
    </div>
    <input type="text" (keyup.enter)="onEnter(content, IdTestToModifOrDelete)" class="d-inline-block mr-2" placeholder="ID du test" [(ngModel)]="IdTestToModifOrDelete">
    <button class="btn btn-dark rounded-0 " (click)="openVerticallyCentered(content)" (click)="callTestToModifOrDelete(IdTestToModifOrDelete)"
      *ngIf="IdTestToModifOrDelete > 0">MODIFIER</button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Test ID : {{IdTestToModifOrDelete}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container-fluid text-center">

    <!-- LEFT COLUMN -->
    <div class="col-5 d-inline-block align-top height-column">
      <!-- First Part of Dataset -->


      <div class="row">
        <div class="d-inline-block col-2 ">
          Résultat
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.result}}
        </div>
        <select class="form-control d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.result">
          <option selected></option>
          <option value="C">C</option>
          <option value="NC">NC</option>
          <option value="MC">MC</option>
        </select>
        <!-- <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.result" placeholder="Modifier la valeur"> -->
      </div>

      <div class="row">
        <div class="d-inline-block col-2 ">
          Type d'AC
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.typeAC}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.typeAC" placeholder="Modifier la valeur">
      </div>

      <div class="row">
        <div class="d-inline-block col-2 ">
          Code G
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.codeG}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.codeG" placeholder="Modifier la valeur">
      </div>

      <div class="row">
        <div class="d-inline-block col-2 ">
          Nom produit
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.productName}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.productName" placeholder="Modifier la valeur">
      </div>

      <div class="row">
        <div class="d-inline-block col-2 ">
          Code campagne
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.campaignCode}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.campaignCode" placeholder="Modifier la valeur">
      </div>

      <div class="row">
        <div class="d-inline-block col-2 ">
          Nom campagne
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.campaignName}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.campaignName" placeholder="Modifier la valeur" >
      </div>

      <div class="row">
        <div class="d-inline-block col-2 ">
          Franchise
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.franchise}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.franchise" placeholder="Modifier la valeur">
      </div>

      <div class="row">
        <div class="d-inline-block col-2 ">
          CP Dev
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.cpDev}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.cpDev" placeholder="Modifier la valeur">
      </div>

      <div class="row">
        <div class="d-inline-block col-2 ">
          CP QCP
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.cpQCP}}
        </div>
        <input type="text" class="d-inlvalidateTestne-block col-4 offset-1" [(ngModel)]="tmpTest.cpQCP" placeholder="Modifier la valeur">
      </div>

      <!-- Second Part of DataSet -->

      <div class="row">
        <div class="d-inline-block col-2 ">
          Code AC
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.codeAC}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.codeAC" placeholder="Modifier la valeur">
      </div>
      <div class="row">
        <div class="d-inline-block col-2 ">
          Fournisseur
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.provider}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.provider" placeholder="Modifier la valeur">
      </div>
      <div class="row">
        <div class="d-inline-block col-2 ">
          Matériau
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.material}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.material" placeholder="Modifier la valeur">
      </div>
      <div class="row">
        <div class="d-inline-block col-2 ">
          Type décor
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.decoType}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.decoType" placeholder="Modifier la valeur">
      </div>
      <div class="row">
        <div class="d-inline-block col-2 ">
          Teinte masse
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.teinteMasse}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.teinteMasse" placeholder="Modifier la valeur">
      </div>
      <div class="row">
        <div class="d-inline-block col-2 ">
          Modèle de pack
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.packModel}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.packModel" placeholder="Modifier la valeur">
      </div>
      <div class="row">
        <div class="d-inline-block col-2 ">
          Numéro de soumission
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.submitNumber}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.submitNumber" placeholder="Modifier la valeur">
      </div>

      <!-- Third Part of DataSet for Modal -->
      <div class="row">
        <div class="d-inline-block col-2 ">
          Nom vrac
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.vracName}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.vracName" placeholder="Modifier la valeur">
      </div>
    </div>

    <!-- CENTRAL COLUMN -->
    <div class="col-1 d-inline-block height-column pinky align-top">
    </div>

    <!-- RIGHT COLUMN -->
    <div class="col-5 d-inline-block align-top height-column">
      <div class="row">
        <div class="d-inline-block col-2 ">
          Numéro vrac
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.vracNumber}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.vracNumber" placeholder="Modifier la valeur">
      </div>
      <div class="row">
        <div class="d-inline-block col-2 ">
          Numéro de formule ou lot
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.formuleNumber}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.formuleNumber" placeholder="Modifier la valeur">
      </div>

      <!-- Fourth part of Dataset for Modal -->

      <div class="row">
        <div class="d-inline-block col-2 ">
          Famille de test
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.testFamily}}
        </div>
        <select id="familySelectOngoingModal" class="form-control d-inline-block col-4 offset-1" (change)="changeOngoingTestList()">
          <option selected></option>
          <option *ngFor="let current of families" value="{{current.family}}">{{current.family}}</option>
        </select>
        <!-- <input type="text" class="d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.testFamily" placeholder="Modifier la valeur"> -->
      </div>
      <div class="row">
        <div class="d-inline-block col-2 ">
          Test
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.test}}
        </div>
        <select id="onGoingTestSelect" class="form-control d-inline-block col-4 offset-1" [(ngModel)]="tmpTest.test">
          <option selected></option>
          <ng-container *ngFor="let current of families[0].testType">
            <option *ngIf="isFirstFamily" value="{{current.code}} {{current.name}}">{{current.code}} {{current.name}}</option>
          </ng-container>
          <ng-container *ngFor="let current of families[1].testType">
            <option *ngIf="isSecondFamily" value="{{current.code}} {{current.name}}">{{current.code}} {{current.name}}</option>
          </ng-container>
          <ng-container *ngFor="let current of families[2].testType">
            <option *ngIf="isThirdFamily" value="{{current.code}} {{current.name}}">{{current.code}} {{current.name}}</option>
          </ng-container>
        </select>
        <!-- <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.test" placeholder="Modifier la valeur"> -->
      </div>
      <div class="row">
        <div class="d-inline-block col-2 ">
          Date de début
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.start}}
        </div>
        <input type="date" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.start" placeholder="Modifier la valeur">
      </div>


      <!-- <div class="row">
        <div class="d-inline-block col-2 ">
          Dérogation
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.derogation}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.derogation" placeholder="Modifier la valeur">
      </div> -->

      <div class="row">
        <div class="d-inline-block col-2 p-0 p-0 ">
          Derogation
        </div>
        <div class="d-inline-block col-4 border offset-1">
          {{testToModifOrDelete.derogation}}
        </div>
        <div class="form-group d-inline-block col-4 offset-1">
          <select class="form-control" name="derogation" id="derogation" [(ngModel)]="tmpTest.derogation">
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </div>
      </div>


      <div class="row">
        <div class="d-inline-block col-2 ">
          Commentaire
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.comments}}
        </div>
        <input type="text" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.comments" placeholder="Modifier la valeur">
      </div>

      <!-- Date properties -->

      <div class="row">
        <div class="d-inline-block col-2 ">
          Réception Vrac
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.receptionVrac}}
        </div>
        <input type="date" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.receptionVrac" placeholder="Modifier la valeur">
      </div>

      <div class="row">
        <div class="d-inline-block col-2 ">
          Réception ZAC
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.receptionZAC}}
        </div>
        <input type="date" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.receptionZAC" placeholder="Modifier la valeur">
      </div>

      <div class="row">
        <div class="d-inline-block col-2 ">
          Début réel
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.debutReel}}
        </div>
        <input type="date" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.debutReel" placeholder="Modifier la valeur">
      </div>

      <div class="row">
        <div class="d-inline-block col-2 ">
          Debut Prévu
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.debutPrevu}}
        </div>
        <input type="date" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.debutPrevu" placeholder="Modifier la valeur">
      </div>

      <div class="row">
        <div class="d-inline-block col-2 ">
          T1 Réel
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.t1Reel}}
        </div>
        <input type="date" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.t1Reel" placeholder="Modifier la valeur">
      </div>

      <div class="row">
        <div class="d-inline-block col-2 ">
          T1 Prévu
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.t1Prevu}}
        </div>
        <input type="date" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.t1Prevu" placeholder="Modifier la valeur">
      </div>

      <div class="row">
        <div class="d-inline-block col-2 ">
          T2 Réel
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.t2Reel}}
        </div>
        <input type="date" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.t2Reel" placeholder="Modifier la valeur">
      </div>

      <div class="row">
        <div class="d-inline-block col-2 ">
          T2 Prévu
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.t2Prevu}}
        </div>
        <input type="date" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.t2Prevu" placeholder="Modifier la valeur">
      </div>

      <div class="row">
        <div class="d-inline-block col-2 ">
          T3 Réel
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.t3Reel}}
        </div>
        <input type="date" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.t3Reel" placeholder="Modifier la valeur">
      </div>

      <div class="row">
        <div class="d-inline-block col-2 ">
          T3 Prévu
        </div>
        <div class="d-inline-block col-4 border offset-1 border-0">
          {{testToModifOrDelete.t3Prevu}}
        </div>
        <input type="date" class="d-inline-block col-4 offset-1 " [(ngModel)]="tmpTest.t3Prevu" placeholder="Modifier la valeur">
      </div>



    </div>







  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="validateTest()" (click)="modal.close('Close click')">Valider
      ce test (Irreversible)</button>
    <button type="button" class="btn btn-warning" (click)="updateTest()" (click)="modal.close('Close click')">Modifier
      ce test (Irreversible)</button>
    <button type="button" class="btn btn-danger" (click)="deleteTest()" (click)="modal.close('Close click')">Effacer ce
      test (Irreversible)</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fermer</button>
  </div>
</ng-template>
