<div class="container-fluid mt-5 pl-4 pr-4">
    <h1 class="text-center mb-5 border-bottom border-dark p-4">Nouveau Test</h1>
    <div class="row justify-content-center mt-4">
        <div class="col-2 border-right ">
            <form>
                <div class="form-group">
        <h3 class="mb-4 text-center column-title">Données Projet</h3>
      
      <label for="exampleInputPassword1">Type d'AC</label>
      <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
    </div>
      
    
    <div class="form-group">
      <label for="exampleInputPassword1">Code G</label>
      <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
    </div>
      <div class="form-group">
      <label for="exampleInputPassword1">Nom Produit</label>
      <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
    </div>
      <div class="form-group">
      <label for="exampleInputPassword1">Code Campagne</label>
      <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
    </div>
      <div class="form-group">
      <label for="exampleInputPassword1">Nom Campagne</label>
      <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
    </div>
      <div class="form-group">
      <label for="exampleInputPassword1">Franchise</label>
      <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
    </div>
      <div class="form-group">
      <label for="exampleInputPassword1">CP Dev</label>
      <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
    </div>
      <div class="form-group">
      <label for="exampleInputPassword1">CP QCP</label>
      <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
    </div>
      
            </form>
        </div>
        <div class="col-2 border-right">
            <form>
                <div class="form-group">
          <h3 class="mb-4 column-title text-center">Données AC</h3>
      <label for="exampleInputPassword1">Code AC</label>
      <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
    </div>
      <div class="form-group">
      <label for="exampleInputPassword1">Fournisseur</label>
      <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
    </div>
      <div class="form-group">
      <label for="exampleInputPassword1">Matériau</label>
      <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
    </div>
      <div class="form-group">
      <label for="exampleInputPassword1">Type de décor</label>
      <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
    </div>
      <div class="form-group">
      <label for="exampleInputPassword1">Teinte masse</label>
      <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
    </div>
      <div class="form-group">
      <label for="exampleInputPassword1">Modèle de Pack</label>
      <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
    </div>
      <div class="form-group">
      <label for="exampleInputPassword1">N° de soumission</label>
      <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Commentaire</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
      
            </form>
        </div>
        
        <div class="col-2 border-right">
            <form>
                <div class="form-group">
                  <h3 class="mb-4 column-title text-center">Données Vrac</h3>
                  <label for="exampleInputPassword1">Nom vrac</label>
                  <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
                </div>
                  <div class="form-group">
                  <label for="exampleInputPassword1">N° vrac</label>
                  <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
                </div>
                  <div class="form-group">
                  <label for="exampleInputPassword1">N° formule ou lot</label>
                  <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
                </div>
            </form>
        </div>
        
        <div class="col-2 border-right">
            <form>
                <div class="form-group">
                  <h3 class="mb-4 column-title text-center">Fonctionnalités</h3>
              <label for="exampleInputPassword1">N° de soumission</label>
              <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
            </div>
              <div class="form-group">
              <label for="exampleInputPassword1">Test</label>
              <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
            </div>
              <div class="form-group">
              <label for="exampleInputPassword1">Quantité testée</label>
              <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
            </div>
              
              <div class="form-group">
              <label for="exampleInputPassword1">Compt test(résultat)</label>
              <!--<input type="" class="form-control" id="exampleInputPassword1" placeholder="">-->
              <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Conforme</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Moyen-conforme</label>
                  </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Ca frole le non-conforme</label>
                  </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Non-conforme</label>
                  </div>
            </div>
                
                  
              <div class="form-group">
                  <label for="exampleFormControlTextarea1">Commentaires</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </form>
        </div>

        <div class="col-2">
          <form>
              <div class="form-group">
                <h3 class="mb-4 column-title text-center">Calendrier</h3>
                <label for="exampleInputPassword1">Réception vrac</label>
                <input type="date" class="form-control" id="exampleInputPassword1" placeholder="">
              </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Réception ZAC</label>
                <input type="date" class="form-control" id="exampleInputPassword1" placeholder="">
              </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Date de début réelle</label>
                <input type="date" class="form-control" id="exampleInputPassword1" placeholder="">
              </div>
              <div class="form-group">
                
                <label for="exampleInputPassword1">Date de début prévue</label>
                <input type="date" class="form-control" id="exampleInputPassword1" placeholder="">
              </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Date T1 réelle</label>
                <input type="date" class="form-control" id="exampleInputPassword1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Date T2 réelle</label>
                <input type="date" class="form-control" id="exampleInputPassword1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Date T3 réelle</label>
                <input type="date" class="form-control" id="exampleInputPassword1" placeholder="">
              </div>
          </form>
      </div>
        
    </div>
    <div class="row justify-content-center mb-5 mt-5">
        
        <button type="submit" class="btn btn-dark col-3 font-weight-bold rounded-0 validate-button">Valider</button>
      
    </div>
  </div>