<div class="container-fluid mt-5 pl-4 pr-4">
  <h1 class="text-center mb-5 border-bottom border-dark p-4">Nouveau Test</h1>

  <!-- Toggle -->
  <div class="container-fluid" *ngIf="hasAccess == 'true'">
    <div class="container">
      <div class="d-inline-block mr-2">
        <label class="switch">
          <input type="checkbox">
          <span class="slider round" (click)="switchBetweenOnGoingTestAndTest()"></span>
        </label>
      </div>
      <div class="d-inline-block">
        <span>Ajouter un test à lectures multiples</span>
      </div>
    </div>



    <!-- Form for add a One shot Test -->
    <div class="row justify-content-center mt-4" *ngIf="onGoingTestState">
      <div class="col-2 border-right ">
        <h3 class="mb-4 text-center column-title">Données Projet</h3>
        <form>
          <div class="form-group">
            <label for="typeAC">Type d'AC</label>
            <input type="text" class="form-control" id="typeAC" name="typeAC" placeholder="" [(ngModel)]="tmpTest.typeAC">
          </div>

          <div class="form-group">
            <label for="codeG">Code G</label>
            <input type="text" class="form-control" id="codeG" name="codeG" placeholder="" [(ngModel)]="tmpTest.codeG">
          </div>
          <div class="form-group">
            <label for="productName">Nom Produit</label>
            <input type="text" class="form-control" id="productName" name="productName" placeholder="" [(ngModel)]="tmpTest.productName">
          </div>
          <div class="form-group">
            <label for="campaignCode">Code Campagne</label>
            <input type="text" class="form-control" id="campaignCode" name="campaignCode" placeholder="" [(ngModel)]="tmpTest.campaignCode">
          </div>
          <div class="form-group">
            <label for="campaignName">Nom Campagne</label>
            <input type="text" class="form-control" id="campaignName" name="campaignName" placeholder="" [(ngModel)]="tmpTest.campaignName">
          </div>
          <div class="form-group">
            <label for="franchise">Franchise</label>
            <input type="text" class="form-control" id="franchise" name="franchise" placeholder="" [(ngModel)]="tmpTest.franchise">
          </div>
          <div class="form-group">
            <label for="cpDev">CP Dev</label>
            <input type="text" class="form-control" id="cpDev" name="cpDev" placeholder="" [(ngModel)]="tmpTest.cpDev">
          </div>
          <div class="form-group">
            <label for="cpQCP">CP QCP</label>
            <input type="text" class="form-control" id="cpQCP" name="cpQCP" placeholder="" [(ngModel)]="tmpTest.cpQCP">
          </div>

        </form>
      </div>
      <div class="col-2 border-right">
        <h3 class="mb-4 column-title text-center">Données AC</h3>
        <form>
          <div class="form-group">
            <label for="codeAC">Code AC</label>
            <input type="text" class="form-control" id="codeAC" name="codeAC" placeholder="" [(ngModel)]="tmpTest.codeAC">
          </div>
          <div class="form-group">
            <label for="provider">Fournisseur</label>
            <input type="text" class="form-control" id="provider" name="provider" placeholder="" [(ngModel)]="tmpTest.provider">
          </div>
          <div class="form-group">
            <label for="material">Matériau</label>
            <input type="text" class="form-control" id="material" name="material" placeholder="" [(ngModel)]="tmpTest.material">
          </div>
          <div class="form-group">
            <label for="decoType">Type de décor</label>
            <input type="text" class="form-control" id="decoType" name="decoType" placeholder="" [(ngModel)]="tmpTest.decoType">
          </div>
          <div class="form-group">
            <label for="teinteMasse">Teinte masse</label>
            <input type="text" class="form-control" id="teinteMasse" name="teinteMasse" placeholder="" [(ngModel)]="tmpTest.teinteMasse">
          </div>
          <div class="form-group">
            <label for="packModel">Modèle de Pack</label>
            <input type="text" class="form-control" id="packModel" name="packModel" placeholder="" [(ngModel)]="tmpTest.packModel">
          </div>
          <div class="form-group">
            <label for="submitNumber">N° de soumission</label>
            <input type="text" class="form-control" id="submitNumber" name="submitNumber" placeholder="" [(ngModel)]="tmpTest.submitNumber">
          </div>
        </form>
      </div>

      <div class="col-2 border-right">
        <h3 class="mb-4 column-title text-center">Données Vrac</h3>
        <form>
          <div class="form-group">
            <label for="vracName">Nom vrac</label>
            <input type="text" class="form-control" id="vracName" name="vracName" placeholder="" [(ngModel)]="tmpTest.vracName">
          </div>
          <div class="form-group">
            <label for="vracNumber">N° vrac</label>
            <input type="text" class="form-control" id="vracNumber" name="vracNumber" placeholder="" [(ngModel)]="tmpTest.vracNumber">
          </div>
          <div class="form-group">
            <label for="formuleNumber">N° formule ou lot</label>
            <input type="text" class="form-control" id="formuleNumber" name="formuleNumber" placeholder="" [(ngModel)]="tmpTest.formuleNumber">
          </div>
        </form>
      </div>

      <div class="col-2 border-right">
        <h3 class="mb-4 column-title text-center">Fonctionnalités</h3>
        <form>
          <div class="form-group">
            <label for="testFamily">Famille Test</label>
            <!-- <input type="text" class="form-control" id="testFamily" name="testFamily" placeholder="" [(ngModel)]="tmpTest.testFamily"> -->
            <select id="familySelect" class="form-control" (change)="changeTestList()">
              <option selected>Choisissez une famille de test...</option>
              <option *ngFor="let current of families" value="{{current.family}}">{{current.family}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="test">Test</label>
            <!-- <input type="text" class="form-control" id="test" name="test" placeholder="" [(ngModel)]="tmpTest.test"> -->
            <select id="testSelect" class="form-control" (change)="updateTestToSend()">
              <option selected>Choisissez un test...</option>
              <ng-container *ngFor="let current of families[0].testType">
                <option *ngIf="isFirstFamily" value="{{current.code}} {{current.name}}">{{current.code}}
                  {{current.name}}</option>
              </ng-container>
              <ng-container *ngFor="let current of families[1].testType">
                <option *ngIf="isSecondFamily" value="{{current.code}} {{current.name}}">{{current.code}}
                  {{current.name}}</option>
              </ng-container>
              <ng-container *ngFor="let current of families[2].testType">
                <option *ngIf="isThirdFamily" value="{{current.code}} {{current.name}}">{{current.code}}
                  {{current.name}}</option>
              </ng-container>
            </select>
          </div>

          <div class="form-group">
            <label for="test">Date réalisation</label>
            <input type="date" class="form-control" id="start" name="start" placeholder="" [(ngModel)]="tmpTest.start">
          </div>

          <div class="form-group">
            <label for="result">Compt test(résultat)</label>
            <div *ngFor="let option of options; let i=index">
              <div class="radio">
                <input type="radio" id="{{option.id}}" name="radio" [value]="option.id" (click)="setTestResult(option.value)" />
                <label for="{{option.id}}" class="ml-2">{{option.id}}</label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <select class="form-control" name="derogation" id="derogation" [(ngModel)]="tmpTest.derogation">
              <option value="true">True</option>
              <option value="false">False</option>
            </select>
          </div>

          <div class="form-group">
            <label for="comments">Commentaires</label>
            <textarea class="form-control" id="comments" name="comments" rows="3" [(ngModel)]="tmpTest.comments"></textarea>
          </div>
        </form>
      </div>

    </div>


    <!-- Form for add an OnGoingTest -->

    <div class="row justify-content-center mt-4" *ngIf="!onGoingTestState">
      <div class="col-2 border-right ">
        <h3 class="mb-4 text-center column-title">Données Projet</h3>
        <form>
          <div class="form-group">
            <label for="typeAC">Type d'AC</label>
            <input type="text" class="form-control" id="typeAC" name="typeAC" placeholder="" [(ngModel)]="onGoingTest.typeAC">
          </div>

          <div class="form-group">
            <label for="codeG">Code G</label>
            <input type="text" class="form-control" id="codeG" name="codeG" placeholder="" [(ngModel)]="onGoingTest.codeG">
          </div>
          <div class="form-group">
            <label for="productName">Nom Produit</label>
            <input type="text" class="form-control" id="productName" name="productName" placeholder="" [(ngModel)]="onGoingTest.productName">
          </div>
          <div class="form-group">
            <label for="campaignCode">Code Campagne</label>
            <input type="text" class="form-control" id="campaignCode" name="campaignCode" placeholder="" [(ngModel)]="onGoingTest.campaignCode">
          </div>
          <div class="form-group">
            <label for="campaignName">Nom Campagne</label>
            <input type="text" class="form-control" id="campaignName" name="campaignName" placeholder="" [(ngModel)]="onGoingTest.campaignName">
          </div>
          <div class="form-group">
            <label for="franchise">Franchise</label>
            <input type="text" class="form-control" id="franchise" name="franchise" placeholder="" [(ngModel)]="onGoingTest.franchise">
          </div>
          <div class="form-group">
            <label for="cpDev">CP Dev</label>
            <input type="text" class="form-control" id="cpDev" name="cpDev" placeholder="" [(ngModel)]="onGoingTest.cpDev">
          </div>
          <div class="form-group">
            <label for="cpQCP">CP QCP</label>
            <input type="text" class="form-control" id="cpQCP" name="cpQCP" placeholder="" [(ngModel)]="onGoingTest.cpQCP">
          </div>

        </form>
      </div>
      <div class="col-2 border-right">
        <h3 class="mb-4 column-title text-center">Données AC</h3>
        <form>
          <div class="form-group">
            <label for="codeAC">Code AC</label>
            <input type="text" class="form-control" id="codeAC" name="codeAC" placeholder="" [(ngModel)]="onGoingTest.codeAC">
          </div>
          <div class="form-group">
            <label for="provider">Fournisseur</label>
            <input type="text" class="form-control" id="provider" name="provider" placeholder="" [(ngModel)]="onGoingTest.provider">
          </div>
          <div class="form-group">
            <label for="material">Matériau</label>
            <input type="text" class="form-control" id="material" name="material" placeholder="" [(ngModel)]="onGoingTest.material">
          </div>
          <div class="form-group">
            <label for="decoType">Type de décor</label>
            <input type="text" class="form-control" id="decoType" name="decoType" placeholder="" [(ngModel)]="onGoingTest.decoType">
          </div>
          <div class="form-group">
            <label for="teinteMasse">Teinte masse</label>
            <input type="text" class="form-control" id="teinteMasse" name="teinteMasse" placeholder="" [(ngModel)]="onGoingTest.teinteMasse">
          </div>
          <div class="form-group">
            <label for="packModel">Modèle de Pack</label>
            <input type="text" class="form-control" id="packModel" name="packModel" placeholder="" [(ngModel)]="onGoingTest.packModel">
          </div>
          <div class="form-group">
            <label for="submitNumber">N° de soumission</label>
            <input type="text" class="form-control" id="submitNumber" name="submitNumber" placeholder="" [(ngModel)]="onGoingTest.submitNumber">
          </div>
        </form>
      </div>

      <div class="col-2 border-right">
        <h3 class="mb-4 column-title text-center">Données Vrac</h3>
        <form>
          <div class="form-group">
            <label for="vracName">Nom vrac</label>
            <input type="text" class="form-control" id="vracName" name="vracName" placeholder="" [(ngModel)]="onGoingTest.vracName">
          </div>
          <div class="form-group">
            <label for="vracNumber">N° vrac</label>
            <input type="text" class="form-control" id="vracNumber" name="vracNumber" placeholder="" [(ngModel)]="onGoingTest.vracNumber">
          </div>
          <div class="form-group">
            <label for="formuleNumber">N° formule ou lot</label>
            <input type="text" class="form-control" id="formuleNumber" name="formuleNumber" placeholder="" [(ngModel)]="onGoingTest.formuleNumber">
          </div>
        </form>
      </div>

      <div class="col-2 border-right">
        <h3 class="mb-4 column-title text-center">Fonctionnalités</h3>
        <form>
          <div class="form-group">
            <label for="testFamily">Famille Test</label>
            <select id="onGoingFamilySelect" class="form-control" (change)="changeOngoingTestList()">
              <option selected>Choisissez une famille de test...</option>
              <option *ngFor="let current of families" value="{{current.family}}">{{current.family}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="test">Test</label>
            <select id="onGoingTestSelect" class="form-control" (change)="updateOngoingTestToSend()">
              <option selected>Choisissez un test...</option>
              <ng-container *ngFor="let current of families[0].testType">
                <option *ngIf="isFirstFamily" value="{{current.code}} {{current.name}}">{{current.code}}
                  {{current.name}}</option>
              </ng-container>
              <ng-container *ngFor="let current of families[1].testType">
                <option *ngIf="isSecondFamily" value="{{current.code}} {{current.name}}">{{current.code}}
                  {{current.name}}</option>
              </ng-container>
              <ng-container *ngFor="let current of families[2].testType">
                <option *ngIf="isThirdFamily" value="{{current.code}} {{current.name}}">{{current.code}}
                  {{current.name}}</option>
              </ng-container>
            </select>
          </div>

          <div class="form-group">
            <label for="result">Compt test(résultat)</label>
            <div *ngFor="let option of options; let i=index">
              <div class="radio">
                <input type="radio" id="{{option.id}}" name="radio" [value]="option.id" (click)="setOnGoingTestResult(option.value)" />
                <label for="{{option.id}}" class="ml-2">{{option.id}}</label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="comments">Commentaires</label>
            <textarea class="form-control" id="comments" name="comments" rows="3" [(ngModel)]="onGoingTest.comments"></textarea>
          </div>
        </form>
      </div>

      <div class="col-2">
        <form>
          <div class="form-group">
            <h3 class="mb-4 column-title text-center">Calendrier</h3>
            <label for="ReceptionVrac">Réception vrac</label>
            <input type="date" class="form-control" id="ReceptionVrac" name="ReceptionVrac" placeholder="" [(ngModel)]="onGoingTest.receptionVrac">
          </div>
          <div class="form-group">
            <label for="ReceptionZAC">Réception ZAC</label>
            <input type="date" class="form-control" id="ReceptionZAC" name="ReceptionZAC" placeholder="" [(ngModel)]="onGoingTest.receptionZAC">
          </div>
          <div class="form-group">
            <label for="DebutReel">Date de début réelle</label>
            <input type="date" class="form-control" id="DebutReel" name="DebutReel" placeholder="" [(ngModel)]="onGoingTest.debutReel">
          </div>
          <div class="form-group">

            <label for="DebutPrevu">Date de début prévue</label>
            <input type="date" class="form-control" id="DebutPrevu" name="DebutPrevu" placeholder="" [(ngModel)]="onGoingTest.debutPrevu">
          </div>
          <div class="form-group">
            <label for="T1prevu">Date T1 prévue</label>
            <input type="date" class="form-control" id="T1prevu" name="T1prevu" placeholder="" [(ngModel)]="onGoingTest.t1Prevu">
          </div>
          <div class="form-group">
            <label for="t2Prevu">Date T2 prévue</label>
            <input type="date" class="form-control" id="t2Prevu" name="t2Prevu" placeholder="" [(ngModel)]="onGoingTest.t2Prevu">
          </div>
          <div class="form-group">
            <label for="t3Prevu">Date T3 prévue</label>
            <input type="date" class="form-control" id="t3Prevu" name="t3Prevu" placeholder="" [(ngModel)]="onGoingTest.t3Prevu">
          </div>
        </form>
      </div>

    </div>



    <div class="row justify-content-center mb-5 mt-5">
      <button type="button" class="btn btn-dark col-3 font-weight-bold rounded-0 validate-button" (click)="save()">Valider</button>
    </div>

  </div>

  <div class="text-center not-allowed-text" *ngIf="hasAccess != 'true'">
    <div>Vous n'avez pas les droits d'accès à l'interface d'ajout de nouveaux tests.</div>
  </div>
</div>
