<div class="container wrapper mt-3">

  <div class="container-fluid subtitles-top-container">

    <!-- Search Bar -->

    <form>
      <p class="mt-0">RECHERCHE</p>
      <div class="form-group">
        <hr />
        <input list="searchBarList" class="form-control" name="searchBar" id="searchBar" aria-describedby="searchBar" (keyup)="onKeyUp();"
          placeholder="SAISISSEZ VOTRE RECHERCHE" [(ngModel)]="searchBarContent" autocomplete="off">
      </div>

      <div class="row justify-content-center">
        <button class="btn btn-dark rounded-0" [routerLink]="['/searchPage']" routerLinkActive="router-link-active">RECHERCHER</button>
      </div>

    </form>

    <!-- Filters -->

    <div class="filter-container ">
      <p>FILTRES</p>
      <hr />

      <form>
        <div class="form-group">
            <label>Résultats de test</label><br/>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" (click)="resultConforme(); onChangeResult();">
            <label class="form-check-label" for="inlineRadio1">C</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" (click)="resultNonConforme(); onChangeResult();">
            <label class="form-check-label" for="inlineRadio2">NC</label>
          </div>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" (click)="resultPTC(); onChangeResult();">
              <label class="form-check-label" for="inlineRadio3">MC</label>
            </div>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4" (click)="resultNoFilter(); onChangeResult();">
              <label class="form-check-label" for="inlineRadio4">Tous les résultats</label>
            </div>
        </div>
        <div class="form-group">
          <label for="materiau">Type d'AC</label>
          <input type="text" class="form-control" [(ngModel)]="typeAC" (keyup)="typeAcEmission();" name="typeAC" id="typeAC" aria-describedby="helpId" placeholder="Type d'AC">
        </div>
        <div class="form-group">
          <label for="materiau">Nom du produit</label>
          <input type="text" class="form-control" [(ngModel)]="productName" (keyup)="productNameEmission();" name="typeAC" id="typeAC" aria-describedby="helpId" placeholder="Nom du produit">
        </div>
        <div class="form-group">
          <label for="materiau">Code Campagne</label>
          <input type="text" class="form-control" [(ngModel)]="campaignCode" (keyup)="campaignCodeEmission();" name="typeAC" id="typeAC" aria-describedby="helpId" placeholder="Code campagne">
        </div>
        <div class="form-group">
          <label for="materiau">Nom Campagne</label>
          <input type="text" class="form-control" [(ngModel)]="campaignName" (keyup)="campaignNameEmission();" name="typeAC" id="typeAC" aria-describedby="helpId" placeholder="Nom campagne">
        </div>
        <div class="form-group">
          <label for="materiau">Franchise</label>
          <input type="text" class="form-control" [(ngModel)]="franchise" (keyup)="franchiseEmission();" name="typeAC" id="typeAC" aria-describedby="helpId" placeholder="Franchise">
        </div>
        <div class="form-group">
          <label for="materiau">CP QCP</label>
          <input type="text" class="form-control" [(ngModel)]="cpQCP" (keyup)="cpQCPEmission();" name="typeAC" id="typeAC" aria-describedby="helpId" placeholder="CP QCP">
        </div>
        <div class="form-group">
          <label for="materiau">Code AC</label>
          <input type="text" class="form-control" [(ngModel)]="codeAc" (keyup)="codeAcEmission();" name="typeAC" id="typeAC" aria-describedby="helpId" placeholder="Code AC">
        </div>
        <div class="form-group">
          <label for="materiau">Fournisseur</label>
          <input type="text" class="form-control" [(ngModel)]="provider" (keyup)="providerEmission();" name="typeAC" id="typeAC" aria-describedby="helpId" placeholder="Fournisseur">
        </div>
        <div class="form-group">
          <label for="materiau">Modèle de pack</label>
          <input type="text" class="form-control" [(ngModel)]="packModel" (keyup)="packModelEmission();" name="typeAC" id="typeAC" aria-describedby="helpId" placeholder="Model de pack">
        </div>
        <div class="form-group">
          <label for="materiau">Nom vrac</label>
          <input type="text" class="form-control" [(ngModel)]="vracName" (keyup)="vracNameEmission();" name="typeAC" id="typeAC" aria-describedby="helpId" placeholder="Nom vrac">
        </div>
        <div class="form-group">
          <label for="materiau">Famille de test</label>
          <input type="text" class="form-control" [(ngModel)]="testFamily" (keyup)="testFamilyEmission();" name="typeAC" id="typeAC" aria-describedby="helpId" placeholder="Famille de tests">
        </div>

        <!-- <div class="form-group">
          <label for="matiere-premiere">Matière première</label>
          <input type="text" class="form-control" [(ngModel)]="rawMaterial" (keyup)="onKeyUpRawMaterial();" name="matiere-premiere" id="matiere-premiere" aria-describedby="helpId"
            placeholder="Matière première">
        </div> -->

        


        <div class="form-group">
          <label for="codeG">Code G</label>
          <input type="text" class="form-control" [(ngModel)]="codeG" (keyup)="onKeyUpCodeG();" name="codeG" id="codeG" aria-describedby="helpId" placeholder="Code G">
        </div>

        <div class="form-group">
          <label for="typeDecor">Type de décor</label>
          <input type="text" class="form-control" [(ngModel)]="typeDecor" (keyup)="onKeyUpDecorType();" name="typeDecor" id="typeDecor" aria-describedby="helpId" placeholder="Type de décor">
        </div>

        <div class="form-group">
          <label for="numeroVrac">Numéro de vrac</label>
          <input type="text" class="form-control" [(ngModel)]="vracNumber" (keyup)="onKeyUpVracNumber();" name="numeroVrac" id="numeroVrac" aria-describedby="helpId"
            placeholder="Numéro de vrac">
        </div>

        <div class="form-group">
          <label for="test">Nom du test</label>
          <input type="text" class="form-control" [(ngModel)]="testType" (keyup)="onKeyUpTestType();" name="test" id="test" aria-describedby="helpId" placeholder="Test">
        </div>

        <div class="form-group">
          <label for="datesApres">Tests effectués après le :</label>
          <input type="date" class="form-control" [(ngModel)]="startDate" (change)="onChangeStartDate();" name="test" id="test" aria-describedby="helpId" placeholder="Test">
        </div>

        <div class="form-group">
            <label for="datesApres">Tests effectués avant le :</label>
            <input type="date" class="form-control" [(ngModel)]="endDate" (change)="onChangeEndDate();" name="test" id="test" aria-describedby="helpId" placeholder="Test">
          </div>

        <div class="row justify-content-center">
          <button class="btn btn-dark rounded-0" [routerLink]="['/searchPage']" routerLinkActive="router-link-active">RECHERCHER</button>
        </div>

        

      </form>
    </div>

  </div>

</div>
