.form-group{
    margin-bottom: 25px;
}

form{
    margin-bottom:10px;
}

#historicTests{
    background-color: #595959;
    color:white;
}

.wrapper{
    border:1px solid black;
    padding:50px;
}

.container-fluid{
    padding:0
}

.blackBottomLine{
    border: 1px solid black;
    padding:10px
}