

form{
    margin-bottom:10px;
}

#historicTests{
    background-color: #595959;
    color:white;
}

.wrapper{
    border:1px solid black;
    padding:50px;
}

.container-fluid{
    padding:0
}

.blackBottomLine{
    border: 1px solid black;
    padding:10px
}

form.becomeSticky{
    position: sticky;
    top: 0;
    /* background-color: rgb(241, 241, 241); */
    /* background-color: rgb(54, 54, 54); */
    background-color: white;
    /* background-color: rgb(250, 250, 250); */
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    z-index: 10;
    border-radius: 3px;
    /* border: 1px solid rgb(219, 219, 219); */
    border-bottom: 2px solid rgb(199, 198, 198);
}

.color-white{
    color: white;
}

.bold{
    font-weight: 500;
}

.dark-backgrnd{
    background-color: rgb(37, 37, 37);
}

.gray{
    /* background-color: rgb(107, 106, 106); */
    background-color: rgb(235, 235, 235);
    color: rgb(90, 90, 90);
    /* font-weight: bold; */
}

#searchBar::placeholder {
    color: rgb(116, 116, 116);
    opacity: 1; /* Firefox */
  }
