.form-group{
    margin-bottom: 25px;
}

form{
    margin-bottom:10px;
}

.button{
    text-align: right
}

.wrapper{
    border:1px solid black;
    padding:50px;
}

.container-fluid{
    padding:0
}

.blackBottomLine{
    border: 2px solid gray;
    border-bottom: 1px solid black;
    padding:10px
}