<div class="container-fluid text-center subtitles-top-container">

  <div class="col-6 d-inline-block blackBottomLine" id="historicTests" (click)="changeHistoricTestsColor()">HISTORIQUE
    DES TESTS</div>
  <div class="col-6 d-inline-block blackBottomLine" id="incompatibilites" (click)="changeIncompatibiliteColor()">INCOMPATIBILITES</div>

</div>

<div class="container-fluid">
  <app-search class="col-3 d-inline-block"></app-search>
  <div class="search-result-wrap col-9 d-inline-block align-top">
    <app-search-result></app-search-result>
  </div>
</div>
