<div class="container-fluid mt-5">
  <app-search class="col-3 d-inline-block" (searchBarContentChange)="onSearchBarContentChanged($event)"></app-search>
  <div class="container d-inline-block col-9 align-top mt-0">
    <div class="search-result-wrap  d-inline-block align-top mt-3">
      <h2 class="pb-2">Résultats des tests</h2>
      <app-search-result></app-search-result>
    </div>
    <div class="container-fluid d-inline-block mt-3 compat-result">
      <h2 class="pb-2">Incompatiblités matières premières</h2>
      <app-compat-result [TriMatName]=TriMatNameInsert [TriMatInteract]=TriMatInteractInsert></app-compat-result>
    </div>
  </div>

</div>
